#home {
	text-align: center;
}

#body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	color: #333;
}

body.dark-mode {
 background-color: #1a1a2e;
--text-color: #e0e0e0;
 /* Ce alte elemente trebuie schimbate? Ganditi-va! */

}